doctype html
html(lang="en")
    head
        title Landing Page
    body
        h1 The future home of something magical!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nam delectus, aliquid quae veniam quo deleniti porro voluptatibus magni exercitationem iusto, a nemo? Pariatur voluptas vitae vero voluptatibus alias? Aliquid distinctio eligendi incidunt corrupti voluptate reprehenderit, sunt similique vero nisi dolores consequuntur in laborum natus, quam totam esse suscipit. Vero, vel. Ipsa maiores saepe reiciendis alias dolorum inventore a incidunt ducimus fuga rem similique culpa vel esse obcaecati possimus nostrum, illo id nisi tenetur neque et quia. Explicabo, nam inventore.